<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title><%= (typeof baiviet !== "undefined") ? baiviet.TieuDe : 'N/A' %> - Trang tin điện tử</title>
	<link href="/css/app.css" rel="stylesheet" />
</head>

<body>

<header>
	<nav class="navbar navbar-expand-md navbar-light bg-white">
		<div class="container">

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Chuyên mục</a>
						<div class="dropdown-menu">
							<% if(typeof chuyenmuc !== "undefined") { chuyenmuc.forEach(cd => { %>
								<a class="dropdown-item" href="/baiviet/chude/<%= cd._id %>"><%= cd.TenChuDe %></a>
							<% }); } %>
						</div>
					</li>
				</ul>
			</div>

			<a class="navbar-brand mx-auto" href="/">iNews</a>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav ms-auto">
					<% if(!session || !session.MaNguoiDung) { %>
						<li class="nav-item"><a class="nav-link" href="/dangky">Đăng ký</a></li>
						<li class="nav-item"><a class="nav-link" href="/dangnhap">Đăng nhập</a></li>
					<% } else { %>
						<li class="nav-item"><a class="nav-link" href="/admin">Quản lý</a></li>
						<li class="nav-item"><a class="nav-link" href="/dangxuat">Đăng xuất</a></li>
					<% } %>
				</ul>

				<form action="/timkiem" method="post">
					<input name="tukhoa" class="form-control" placeholder="Tìm kiếm..." />
				</form>
			</div>

		</div>
	</nav>
</header>

<main class="container mt-4">
	<div class="row">

		<div class="col-md-9">
		<% if(typeof baiviet !== "undefined") { %>

			<article class="card mb-4">
				<div class="card-header text-center">
					<time datetime="<%= baiviet.NgayDang %>"></time> -
					<a href="/baiviet/chude/<%= baiviet.ChuDe._id %>">
						<%= baiviet.ChuDe.TenChuDe %>
					</a>

					<h3><%= baiviet.TieuDe %></h3>
				</div>

				<div class="card-body">
					<p><strong><%= baiviet.TomTat %></strong></p>
					<%- baiviet.NoiDung %>

					<hr>

					<h5>Bình luận</h5>

					<img src="/images/avatars/1.png" width="80" class="rounded-circle">
					<img src="/images/avatars/2.png" width="80" class="rounded-circle">

				</div>
			</article>

		<% } %>
		</div>

		<div class="col-md-3">

			<div class="card mb-4">
				<div class="card-body">
					<h5>Thẻ</h5>
					<% if(typeof chuyenmuc !== "undefined") { chuyenmuc.forEach(cd => { %>
						<a class="btn btn-light btn-sm mb-1" href="/baiviet/chude/<%= cd._id %>">
							<%= cd.TenChuDe %>
						</a>
					<% }); } %>
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-body">
					<h5>Xem nhiều nhất</h5>
					<% if(typeof xemnhieunhat !== "undefined") { xemnhieunhat.forEach(bv => { %>
						<a href="/baiviet/chitiet/<%= bv._id %>">
							<h6><%= bv.TieuDe %></h6>
							<img src="<%- firstImage(bv.NoiDung) %>" class="img-fluid">
						</a>
					<% }); } %>
				</div>
			</div>

		</div>

	</div>
</main>

<!-- FIX lỗi HTML ở đây -->
<div class="container mt-4">
	<div class="row">
		<div class="col-3">
			<a href="#"><img class="img-fluid" src="/images/instagram/1.jpg"></a>
		</div>
		<div class="col-3">
			<a href="#"><img class="img-fluid" src="/images/instagram/2.jpg"></a>
		</div>
		<div class="col-3">
			<a href="#"><img class="img-fluid" src="/images/instagram/3.jpg"></a>
		</div>
		<div class="col-3">
			<a href="#"><img class="img-fluid" src="/images/instagram/4.jpg"></a>
		</div>
	</div>
</div>

<footer class="bg-dark text-white text-center p-3 mt-4">
	© 2025
</footer>

<script src="/js/app.js"></script>
</body>
</html>